[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
Pipfile = "*"

[packages]
psycopg2 = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
geoalchemy2 = "*"
pipfile = "*"
Pipfile = "*"

[requires]

[pipenv]
allow_prereleases = true
