[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
flask = "*"
pipfile = "*"
sqlalchemy = "*"
psycopg2 = "*"
black = "*"
Pipfile = "*"

[dev-packages]
Pipfile = "*"

[pipenv]
allow_prereleases = true
