[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
sqlalchemy = "*"
psycopg2 = "*"
uwsgi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
